{{ 'new-arrivals.css' | asset_url | stylesheet_tag }}
<div class="new__arrivals">
  <h1>{{section.settings.new_arrivals_title}}</h1>
    <div class="products-list new__arrivals-list">
      {% assign days = 10 %}
      {% assign period_time = days | times: 24 | times: 60 | times: 60 %}
      {% assign date_now = 'now' | date:'%s' %}
      {% assign new_arrivals = collections.all.products | sort: "published_at" | reverse %}
      {% assign product_count  = 0 %}

      {% for product in new_arrivals limit: 5 %}
        {% assign date_finished = product.published_at | date:'%s' | plus: period_time | date:'%s' %}
        
        {%if date_finished > date_now  %}
        {% assign product_count  = product_count  | plus: 1 %}
          {% render 'product-card-arrivals',
            product_card_product: product
          %}
        {%endif%} 
        
      {% endfor %}
      {% if product_count == 0 %}
          <div class="no-products__block"><p>{{ 'products.no_products' | t }}</p></div>
      {% endif%}
    </div>
</div> 

{% schema %}
{
  "name": "New arrivals",
  "settings": [
    {
      "type":"text",
      "id":"new_arrivals_title",
      "label":"New arrivals title",
      "default":"New arrivals"
   }
  ],
  "presets": [
    {
      "category": "category",
      "name":"New Arrivals"
    }
  ]
}
{% endschema %}