<div class="new__arrivals">
  
    <div class="products-list new__arrivals-list">
      {% assign days = 10 %}
      {% assign period_time = days | times: 24 | times: 60 | times: 60 %}
      {% assign date_now = 'now' | date:'%s' %}
      {% assign new_arrivals = collections.all.products | sort: "published_at" | reverse %}

      {% for product in new_arrivals limit: 5 %}

        {% assign date_finished = product.published_at | date:'%s' | plus: period_time | date:'%s' %}
        
        {%if date_finished > date_now  %}
          
          {% render 'product-card-arrivals',
            product_card_product: product
          %}
        
        {%endif%} 
      
      {% endfor %}
    </div>
</div>

<script>
  const newArrivalsList = document.querySelector('.new__arrivals-list')
  if (newArrivalsList.childNodes.length <= 1) {
    newArrivalsList.innerHTML = `{{ 'products.no_products' | t }}`
  }
</script> 

{% schema %}
{
  "name": "New arrivals",
  "presets": [
    {
      "category": "category",
      "name":"New Arrivals"
    }
  ]
}
{% endschema %}