<div>
  {% for collection in collections %}
    <div>{{ collection.title}}</div>
    {% for product in collection.products %}
      <div>
        
        {{ product.title}}
      </div>
    {% endfor %}
  {% endfor %}
</div>