.swiper {
  width: 100%;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide__link{
  width: 100%;
  height: 550px;
  position: relative;
}

.link-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  transition: .2s ease;
}
.link-banner__item {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  transition: .2s ease;
}
.swiper-slide:hover  .link-banner {
  background-color: rgb(0, 0, 0, 0.4);
}
.swiper-slide:hover .link-banner__item {
  top: 10%;
}
.swiper-slide__text{
  position: absolute;
  font-size: 30px;
  left: 2%;
  bottom: 2%;
}
.swiper-slide__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 530px){
  .swiper-slide,
  .swiper-slide__link{
    height: 400px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}